{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

        {{!Picture}}
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label class="control-label col-sm-2" for="name">Profile Picture: </label>
            </div>
            <div class="col-8">
              <div class="col-sm-10">
                <label class="custombutton" id="custombutton" style="width:200px;border: 1px solid #ccc;display: inline-block; padding: 6px 12px;cursor: pointer;">
                 <input type="file" name="upload" accept="image/*" style=" display: none;" onchange="document.getElementById('custombutton').style.border = '2px solid lightgreen'">
                 Select new file 
                 </label>
              </div>
            </div>
          </div>
        </div>

      {{!User Name}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="name">User name: </label>
          </div>
          <div class="col-8">
            <div class="col-sm-10">
            <input
              type="username"
              id="username"
              name="username"
              class="form-control"
              value="{{user.username}}"
            />
            </div>
          </div>
        </div>
      </div>

      {{!Name}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="name">Name: </label>
          </div>
          <div class="col-8">
            <div class="col-sm-10">
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              value="{{user.name}}"
            />
            </div>
          </div>
        </div>
      </div>

      {{!Surname}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="surname">Surname: </label>
          </div>
          <div class="col-8">
            <div class="col-sm-10">
            <input
              type="surname"
              id="surname"
              name="surname"
              class="form-control"
              value="{{user.surname}}"
            />
            </div>
          </div>
        </div>
      </div>

      {{!Email}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="age">Email: </label>
          </div>
          <div class="col-8">
            <div class="col-sm-10">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              value="{{user.email}}"
            />
            </div>
          </div>
        </div>
      </div>

      {{!Age}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="age">Age: </label>
          </div>
          <div class="col-8">
            <div class="col-sm-10">
            <input
              type="age"
              id="age"
              name="age"
              class="form-control"
              value="{{user.age}}"
            />
            </div>
          </div>
        </div>
        </div>

        {{!Change Password}}
        <div class="row" style="padding: 3%;">
          <div class="col-12">
            <a href="/users/password" class="btn btn-primary" style="width:100%; background-color: #FF5733" style="text-decoration: none;">Change Password</a
            >
          </div>
        </div>

      {{!Page Footer}}
      <div class="row" style="background-color:#D6EAF8;">
        <div class="col">
          <a  type="submit" onclick="this.closest('form').submit();return false;"><h3 class="mt-4">Save</h3></a>
        </div>
        <div class="col-6">

        </div>
        <div class="col">
          <a href="/" style="text-decoration: none;"><h3 class="mt-4">Cancel</h3></a>
        </div>
      </div>
    </form>
</div>
</div>
