<div class = 'row' style = "padding: 3%;">
  <div class="col-12">
    <form class="form-horizontal" action="/users/dashboard/edit" method="POST">

      {{!Profile Picture}}
      <div class="form-group">
        <div class="row">
          <div class="col-3">
          <img class="profilestyle" src="/upload/{{user.userImage}}" alt="{{user.userImage}}" >
        </div>
        </div>
      </div>

      {{!Userame}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="name">User name: </label>
          </div>
          <div class="col-8">
            <label class="control-label col-sm-2" for="name">{{user.username}}</label>
          </div>
        </div>
      </div>

      {{!Name}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="name">Name: </label>
          </div>
          <div class="col-8">
            <label class="control-label col-sm-2" for="name">{{user.name}}</label>
          </div>
        </div>
      </div>

      {{!Surname}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="surname">Surname: </label>
          </div>
          <div class="col-8">
            <label class="control-label col-sm-2" for="surname">{{user.surname}}</label>
          </div>
        </div>
      </div>

      {{!Email}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="age">Email: </label>
          </div>
          <div class="col-8">
            <label class="control-label col-sm-2" for="email">{{user.email}}</label>
          </div>
        </div>
      </div>

      {{!Age}}
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label class="control-label col-sm-2" for="age">Age: </label>
          </div>
          <div class="col-8">
            <label class="control-label col-sm-2" for="imageProfile">{{user.age}}</label>
          </div>
        </div>
      </div>

      {{!Page Footer}}
      <div class="row">
        <div class="col-12">
        <a href="/users/dashboard"><h3 class="mt-4">Edit Profile</h3></a>
        </div>
      </div>
    </form>
</div>
</div>
