<%# Header %>

<%- include("./partials/banner"); -%>
<%- include("./partials/nav"); -%>

<%# Search Bar %>
<%- include ("./partials/messages"); -%>

<%# Notification messages %>
<%- include ("./partials/search"); -%>

<%# content %>
<div class="form-group" style="display:none">
  <label class="control-label col-sm-2" for="_id">ID</label>
  <div class="col-sm-10">
  <input
    type="_id"
    id="_id"
    name="_id"
    class="form-control"
    value="<%= _id %>"
  />
  </div>
</div>

<%# List of Friends %>
<%- include("./partials/friends"); -%>
